body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    background-image: url('geradordefrases.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 5vh; /* Usando uma unidade relativa para espaçamento interno */
    text-align: center;
    max-width: 80%;
}

select, button {
    margin: 3vh; /* Usando uma unidade relativa para margem */
    padding: 3vh; /* Usando uma unidade relativa para preenchimento interno */
    font-size: 5vh; /* Usando uma unidade relativa para tamanho da fonte */
    border: none;
    border-radius: 2vh; /* Usando uma unidade relativa para raio da borda */
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    font-family: Arial, sans-serif; /* Aqui você pode definir a fonte desejada */
}

select {
    width: 100%;
}

button {
    width: 100%;
}

#fraseGerada {
    font-size: 7vh; /* Usando uma unidade relativa para tamanho da fonte */
    margin-top: 5vh; /* Usando uma unidade relativa para margem superior */
    font-family: Georgia, sans-serif; /* Aqui você pode definir a fonte desejada */
}
