body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    background-image: url('geradordefrases.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 120px; /* Aumentei o espaçamento interno para 120px */
    text-align: center;
    max-width: 80%;
}

select, button {
    margin: 90px; /* Aumentei a margem para 90px */
    padding: 10%; /* Aumentei o preenchimento para 10% do tamanho do container */
    font-size: 36px; /* Aumentei o tamanho da fonte para 36px */
    border: none;
    border-radius: 20px; /* Aumentei o raio da borda para 20px */
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    font-family: Arial, sans-serif; /* Aqui você pode definir a fonte desejada */
}

select {
    width: 100%;
}

button {
    width: 100%;
}

#fraseGerada {
    font-size: 40px; /* Aumentei o tamanho da fonte para 40px */
    margin-top: 40px; /* Aumentei a margem superior para 40px */
    font-family: Georgia, sans-serif; /* Aqui você pode definir a fonte desejada */
}
